/* 游戏板格式 */
.game-container {
    width: 540px;
    margin: 20px auto;
    position: relative;
}

/* 游戏版内格子格式 */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    padding: 10px;
    background-color: #bbada0;
    position: relative;
    justify-content: space-between;
}

/* 单元格格式 */
.grid-cell {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    margin: 15px;
}