/* 游戏板格式 */
.game-container2 {
    width: 540px;
    margin: 20px auto;
    position: absolute;
    top: 332px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
}

/* 游戏版内格子格式 */
.grid-container2 {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    padding: 10px;
    background-color: #bbada0;
    position: relative;
    justify-content: space-between;
}

/* 单元格格式 */
.grid-cell2 {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    margin: 15px;
}